/* COLORS: 

"Black": #666;
Blue: #4fc6e0;
Pink: #f06798;
Grey: #e6e6e6;
Green: #c1d831	;
Box-Shadow: gray;



*/



/* BASIC STYLE */
body {color:#666;font-size:16px;}
h1 {color:#f06798;}
a {color:#4fc6e0;}
.icon-bar { background-color:white; }
.container {
  padding-left: 10%;
  padding-right: 10%;
}
hr { 
  margin-top: 4em;
  margin-bottom: 4em; 
}
.section-title {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2em;
  font-size: 2em;
  font-weight: 500;
  color:#f06798;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.page-title {
  text-align: center;
  text-transform: uppercase;
  padding: 1em 0;
  color:#f06798;
}
.pink-bold {
  color:#f06798;
  font-weight:normal;
  font-size:1.33em;
}

/* ========== NAVBAR ========== */
a.navbar-brand {padding-right: 1em;}
.navbar a { color:white;}
.navbar li {padding-top: .5em;}
.navbar {
  background-color: #4fc6e0;
  padding: 2em 0;
  position:relative;
  margin-bottom: 0;
  border-radius:0 !important;
}
.navbar-nav>li>a {
	font-weight: 100;
  /*text-transform: uppercase;*/
  padding-right:.5em;
	font-size:1em;
}
.nav>li>a:hover, .nav>li>a:focus {
  color:#e6e6e6;
  background-color: #4fc6e0;
}
.navbar-collapse {padding:0;}
.logo {
  width:180px;
  height:40px;
}

/* ========== REGULAR CIRCLE BUTTON ========== */ 
.circle-btn {
  width:10em;
  height:10em;
  line-height:1.3em;
  border: .3em solid #fff;
  border-radius: 50%;
  color:#fff;
  text-align:center;
  text-decoration:none;
  background: #f06798;
  font-size:1.2em;
  font-weight:bold;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:1em;
  margin-bottom:1em;
  box-shadow: 0 0 3px gray;
}

/* ========== SUBMIT BUTTON ========== */
.round-btn-parent { position:relative; }
.round-btn:hover { color:#e6e6e6; box-shadow: none;}
.round-btn {
  width:10em;
  height:10em;
  line-height:1.3em;
  border: .3em solid #fff;
  border-radius: 50%;
  color:#fff;
  text-align:center;
  text-decoration:none;
  background: #f06798;
  font-size:1.2em;
  font-weight:normal;
  position:absolute;
  left:2em;
  top:0em;
  box-shadow: 0 0 3px #666;
  font-family: 'helveticaneue-condensedbold','helveticaneue',arial,sans-serif;
	text-transform: uppercase;
}
.login-cont {
  text-align: center;
  position:absolute;
  left:7em; 
  top:10.5em;
  color:white;
  text-shadow:1px 0 1px black;
}
.login-cont a {
  color:#f06798;
  font-weight: 700;
}
.login-cont a:hover {
  text-decoration: none;
  color:#e6e6e6;
}
.navbar-btn.pill-btn, .pill-btn {
  background-color: #f06798;
  color:white;
  margin-top: 1.2em;
  box-shadow: 0 0 3px #666;
}
.navbar-btn.pill-btn:hover, .pill-btn:hover {
  background-color: #f06798;
  color:white;
  margin-top: 1.2em;
  box-shadow: none;
}
.login-icon {
   margin-top: .8em;
   padding-right: .5em;
}
.login-icon:hover {
  color:#e6e6e6;
}

/* ========== FULLBLEED IMAGE AND INTRO TEXT  ========== */
.title-parent {position: relative; }
.full-width-image-1 {
  background: #000000 url('images/bg-7.jpg') no-repeat center center;
  background-size: cover;
  padding: 3em 0;
  margin-bottom: 2.5em;
  min-height: 18em;
  opacity: 1;

}
.title { 
  color:white;
  text-shadow:2px 2px 2px #444;
  padding:0;

}
.title h1 { font-size: 1.8em; color:white;}
.subtitle { font-size: 1.2em; }


/* ========== SUBMIT BUTTON ========== */
.featured {text-align: center;}
.featured h2 {font-weight: 700; font-size: 2em; color:#c1d831;}
.featured h4 {
  font-weight: 100; 
  font-size: 2em; 
  padding-bottom: .5em;
  }

.feature-callout, .feature-description { text-align: center; }
.feature-description { padding-bottom: 2em;}


/* ========== FESTIVAL DETAILS  ========== */
/*.description-container { 
  position:relative; 
  margin-top: 1.5em;
}
.image-description {
  position: absolute;
  top: 50%;
  margin-top:40px;
}
.feat-image{
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px gray;
}*/


/* ========== MAP  ========== */
#festival-map-img {
  margin: 2em auto;
  border:1px solid #ccc;
  width:100%;
  box-shadow: 0 0 3px gray;
}

/* ========== TIMELINE  ========== */
.timeline {
  margin-right: auto;
  margin-left: auto;
  width:100%;
  max-height: 100em;
}

.timeline-rnd {
  width:7em;
  height:7em;
  line-height:1.8em;
  border: .1em solid #fff;
  border-radius: 50%;
  color:#fff;
  text-align:center;
  text-decoration:none;
  background: #f06798;
  font-size:1em;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 0 3px gray;
  font-weight: 200;
  padding-top: 1.6em;
}

.timeline-label {
  padding-top: 2.4em;
}
.timeline-descr {
  color:#666;
  background-color: white;
  padding: 1em 0;
  text-align: center;
  line-height: 1.2em;
  font-size: .9em;
  font-weight: normal;
  text-transform: uppercase;
  z-index: -1;

}
.timeline-ln-parent{
  position: relative;
}
.timeline-vln {
  width: .5em;
  height: 95em;
  background-color: #c1d831;
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 95em; 
  left: 0; 
  bottom: 0; 
  right: 0;
}
.timeline-hln {
  width: 55em;
  height: .5em;
  background-color: #c1d831;
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 7em;
  left: 0em;
  bottom: 0;
  right: 0;
}
.timeline-grey { background-color: #717268}
.timeline-day {font-size: 1.2em; font-weight: 700;}

/* ========== SPONSORS  ========== */
.sponsor {
  max-height: 80px;
  width:auto;
  max-width: 80%;
}


/* ========== BIOS  ========== */
.bio-pic img {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-bottom: 1em;
  box-shadow: 0 0 3px gray;
}
.bio-pic img:hover { 
  border: 1px solid #e6e6e6; 
  box-shadow: none;
}
.bio { 
  text-align: center; 
  padding-bottom: 3em;
}
.bio a:hover { text-decoration: none; }
.bio-text {margin-top: 1em;}


/* ========== PROJECTS ========== */
.project-container { padding: 1.5em;}

.project { 
  text-align: center;  
  padding: 0;
  border: 1px solid #e6e6e6;
  height:365px;
  max-width: 400px;
  overflow: hidden;
  margin: 0 auto;
}
.project:hover {
  border: 1px solid #f06798;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  box-shadow: 0 0 3px gray;
}
.project a:hover { 
  text-decoration: none;
  cursor: pointer;
}
.project-img { 
  height: 202px;
  min-width:100%; 
  margin-bottom: 1em;
}
.project-title {padding: 0 1.5em;}
.project-description {
  margin: 1em 0;
  color: #666;
  padding: 0 1.5em;
  padding-bottom: 1.5em;
}


/* ========== PROJECT PAGE ========== */
.proj-header {
  background-size: cover;
  height:18em;
  width: 100%;
  margin: 2em 0; 
}

.proj-content {
  padding: 0;
}

.proj-title {
  font-size: 2em;
  color: #4fc6e0;
  padding-bottom: .5em;
}

.proj-teamname { padding-bottom: .5em; }
.proj-teamname:hover {
  text-decoration: none;
  padding-bottom: .5em;
}
.proj-description { 
  padding-top: .5em; 
  padding-bottom: 2em;
}

.proj-sidebar {
  height: 10px;
  margin-left: 0;
  padding-left: 5em;
}

.sidebar-title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1em;
  padding-top: 2em;
}

.sidebar-title:first-child {
  padding-top: 5.5em;
}

.proj-section-title {
  text-align: left;
  font-size: 2em;
  text-transform: capitalize;
  padding-bottom: 2em;
}

.press {padding: 2em 0;}
.press-title {text-transform: uppercase;}
.press-byline {padding-bottom: .5em;}
.press-date {color: #ccc; display: inline-block;}
.press-logo img { 
  padding-left: 5em; 
  max-width: 20em;
}




/* ========== FOOTER  ========== */
footer {
  padding: 5em 0;
  background-color: #f8f8f8;
  margin-top: 6em;
  border-top: 1px solid #ccc;
}

#footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
}



/*
Large Desktops (≥1200px)
Desktops (≥992px)
Tablets (≥768px)
Phones (<768px)
*/

@media (max-width: 1200px) and (min-width:992px){
  .image-description {margin-top: 30px;}
  .project-container { padding: .5em;}
  .timeline-hln {width: 45em;}

}

@media (max-width: 991px) and (min-width:768px){
  .navbar { padding-top: 1em; }
  .logo { display:none; }  
  .navbar-header {display: none;}
  .project-container { padding: .5em;}
  .image-description {
    position: static;
    margin-top: 1em;
    margin-bottom: 3em;
  }
  .description-container { margin-top:0; }
  .image-description { padding-right: .5em; padding-left: .5em;}
  .timeline-rnd { font-size: 1.6em;
    margin-bottom: 0;}
  .timeline-descr {
    margin-top:0;
    position:relative;
    padding: 1em 0;
    margin-bottom: 2em; 
    font-size: 1.5em;
  }
  .timeline-label { margin-bottom: 2.5em;}

}

@media (max-width: 767px) {
  .navbar-brand {padding-top:.2em;}
  .image-description {position: static;}
  .text-wrapper { 
    padding-left: 5%;
    padding-right: 5%;

  }
  .container {
    padding-left: 4%;
    padding-right: 4%;
  }
  .sponsor {
    max-width: 80%;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
  }
  .navbar-nav { margin:0; }
  .image-description {
    margin:1em 0;
    text-align: center;
  }
  .navbar-btn.pill-btn {margin-left: 1em; }
  .timeline-rnd { font-size: 1.6em;
    margin-bottom: 0;}
  .timeline-descr {
    margin-top:0;
    position:relative;
    padding: 1em 0;
    margin-bottom: 2em; 
    font-size: 1.5em;
  }
  .timeline-label { margin-bottom: 2.5em;}

}



@media (max-width: 992px) and (min-width:768px){


}