body {color:#666;}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.navbar {
  background-color: #4fc6e0;
  padding: 2em 0;
  position:relative;
}


a.navbar-brand {padding-right: 1em;}
.navbar a { color:white;}
.navbar li {padding-top: .5em;}
.nav>li>a:hover, .nav>li>a:focus {
  color:#e6e6e6;
  background-color: #4fc6e0;
}

.logo {
  width:180px;
  height:40px;
}

.round-btn-parent { position:relative; }
.round-btn {
  width:10em;
  height:10em;
  line-height:1.3em;
  border: .3em solid #fff;
  border-radius: 50%;
  color:#fff;
  text-align:center;
  text-decoration:none;
  background: #f06798;
  font-size:1.2em;
  font-weight:bold;
  position:absolute;
  right:1em;
  top:.3em;
}
.login-cont {
  text-align: center;
  position:absolute;
  right:6em; 
  top:13em;
}

.round-btn:hover { color:#e6e6e6; }

.catch-line { max-width: 700px; }
.catch-line h1 {font-size: 1.8em;}
.lead {font-size: 1.2em;}

.login-cont a {
  color:#f06798;
  font-weight: 700;
}

.login-cont a:hover {
  text-decoration: none;
  color:#c65986;
}

.navbar-btn.pill-btn {
  background-color: #f06798;
  color:white;
  margin-top: 1.2em;
}

.login-icon {
   margin-top: .8em;
   padding-right: .5em;
}

.icon-bar {
  background-color:white;
}

/*
Large Desktops (≥1200px)
Desktops (≥992px)
Tablets (≥768px)
Phones (<768px)
*/

@media (max-width: 992px) and (min-width:768px){
  .navbar-nav>li>a {
    padding-left:.6em;
    padding-right:.6em;
    padding-top: 1.2em;
  }
  .navbar { padding-top: 1em; }
  .logo { width:120px; }  

}

@media (max-width: 768px) {
  .navbar-brand {padding-top:.2em;}
}

@media (max-width: 1200px) and (min-width:992px){
  .catch-line {max-width: 560px;}
}