 <footer>
        <div class="container text-center footer-title">A Project Of</div>
        <div class="container text-center">
        	<a href="http://www.sf-planning.org" class="col-sm-4"><img class="sponsor" src="{{ site.baseurl }}/images/sponsor-sfplanning.svg"></a>
			
            <a href="http://www.ybca.org" class="col-sm-4"><img class="sponsor" src="{{ site.baseurl }}/images/sponsor-ybca.svg"></a>
			
            <a href="http://www.knightfoundation.org" class="col-sm-4"><img class="sponsor" src="{{ site.baseurl }}/images/sponsor-knight.svg"></a>
        </div>
 </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <!-- Smooth Scroll -->
    <script src="{{ site.baseurl }}/js/smooth-scroll.js"></script>
    
    <script>
    	smoothScroll.init({
    		speed:500,
    		easing: 'easeInOutQuad',
    	});
	</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51371344-1', 'marketstreetprototyping.org');
      ga('send', 'pageview');

    </script>
    
  </body>
</html>
